<%= render :partial => "bulletin" %>

<script type="text/javascript" charset="utf-8">
function myrefresh(){
  $("#audit_count").load("/feeds/audit_count");
  $("#sent_count").load("/feeds/pool_count");
}

myrefresh();
setInterval(myrefresh,5000); //指定6秒刷新一次
</script>

<!-- 导航 -->
<div class="status_type">
  <ul>
    <li><a href="/?type=raw" class="<%= current_class('raw') %>">最新微博</a></li>
    <li><a href="/?type=auditing" class="<%= current_class('auditing') %>">待审核(<span id="audit_count">x</span>)</a></li>
    <li><a href="/?type=sent" class="<%= current_class('sent') %>">已审核/待播放(<span id="sent_count">x</span>)</a></li>
  </ul>
</div>
<!-- 导航结束 -->
<!--内容区 -->
<div class="MIB_mbloglist">
  <% if @type == 'raw' %>
  <div>
    <a href="/statuses/refresh" class="newMblog_ts1" style="display:block" id="feed_msg_new">立即获取最新微博消息</a>
  </div>
  <% end %>

  <!-- <div id="pool_count" style="text-align:center;margin:5px auto;">
    当前等待播放消息数量： <span id="pool_count_num" style="color:red;">获取中</span>
  </div> -->
  <br/>

  <%= will_paginate @statuses %>
  <!--列表-->
  <ul class="MIB_feed" id="feed_list" isWrite="1">
    <% @statuses.each do |status| %>

    <%= render :partial => 'weibo_item', :locals => {:status => status} %>
    <% end %>
  </ul>
  <!--/列表-->
  <%= will_paginate @statuses %>
</div>
<!--/内容区 -->