<h1>Editing bulletin</h1>

<% form_for(@bulletin) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @bulletin %> |
<%= link_to 'Back', bulletins_path %>