<h1>Listing bulltins</h1>

<table>
  <tr>
    <th>Content</th>
  </tr>

<% @bulltins.each do |bulltin| %>
  <tr>
    <td><%=h bulltin.content %></td>
    <td><%= link_to 'Show', bulltin %></td>
    <td><%= link_to 'Edit', edit_bulltin_path(bulltin) %></td>
    <td><%= link_to 'Destroy', bulltin, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New bulltin', new_bulltin_path %>